{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{% block meta_title %}いろはす日記（パクリ）{% endblock %}</title>
   <meta name="description" content="{% block meta_description %}Djangoの勉強のためにサイトをパクってきました。{% endblock %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400&display=swap" rel="stylesheet">
</head>
<body>

<header id="site-header">
    <a href="/">
        <img src="{% static 'book.svg' %}" id="hero">
        <p id="title">いろはす日記</p>
        <p id="subtitle">© 2020 ilohasuiro.</p>
    </a>
</header>

{% block content %}{% endblock %}

<footer id="site-footer">
    <div class="container" id="footer-container">
        <ul>
            <li>
                <a href="#">2020</a>
                <ul>
                    <li><a href="#">12</a></li>
                </ul>
            </li>
        </ul>

        <ul>
            <li><a href="#">雑談(2)</a></li>
        </ul>

        <ul>
            <li><a href="https://twitter.com/toritoritorina/" target="_blank">Twitter</a></li>
            <li><a href="https://github.com/naritotakizawa/" target="_blank">Github</a></li>
        </ul>

        <form action="" method="GET">
            <div class="field">
                <input type="text" name="key_word" id="id_key_word">
                <button type="submit" id="search" class="search-btn"></button>
            </div>
        </form>
    </div>
</footer>

<div>Icons made by <a href="https://www.flaticon.com/authors/prosymbols" title="Prosymbols">Prosymbols</a> from <a
        href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
</body>
</html>
